version: '3.8'

services:
  db:
    build: ./db
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_db
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
  backend:
    build: ./backend
    container_name: node_backend
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: user_db
    volumes:
      - ./downloads:/app/data
    networks:
      - app_network
    depends_on:
      db:
        condition: service_healthy
  frontend:
    build: ./frontend
    container_name: react_frontend
    ports:
      - "5173:5173"
    networks:
      - app_network
    depends_on:
      - backend
volumes:
  db_data:
networks:
  app_network:
    driver: bridge
